@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mediaqueries" as *;

.uploadforminput {
    @include tablet {
        gap: 1.5rem;
    }
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    &__input-container {
        @include tablet {
            gap: 1.5rem;
        }
        @include desktop {
            width: 100%;
        }
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & div:last-child {
            flex-grow: 2;
        }
    }

    &__label {
        @include labelbutton;
        color: $silver;
        margin: 0 0 0.25rem 0;
    }

    &__title {
        @include tablet {
            padding: 0.5rem 1rem;
        }
        @include bodycopy;
        font-family: "Avenir";
        border: 0.0625rem solid $mercury;
        border-radius: 0.25rem;
        min-width: 15rem;
        width: 100%;
        padding: 0.75rem;
        box-sizing: border-box;
        &:focus {
            outline: none;
            border: 0.125rem solid $brainflix-blue;
        }
    }

    &__description-container {
        @include desktop {
            display: flex;
            flex-direction: column;
        }
    }

    &__description {
        @include bodycopy;
        @include tablet {
            padding: 0.5rem 1rem;
            height: 2.5rem;
            vertical-align: middle;
        }
        @include desktop {
            flex-grow: 2;
        }
        display: block;
        font-family: "Avenir";
        min-width: 15rem;
        width: 100%;
        padding: 0.75rem;
        box-sizing: border-box;
        border-radius: 0.25rem;
        border: 0.0625rem solid $mercury;
        resize: none;
        min-height: 2.25rem;
        height: 4.5rem;
        overflow: hidden;
        &:focus {
            outline: none;
            border: 0.125rem solid $brainflix-blue;
        }
    }
}
