@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mediaqueries" as *;

.uploadforminput {
    @include tablet {
        gap: 24px;
    }
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    &__input-container {
        @include tablet {
            gap: 24px;
        }
        @include desktop {
            width: 100%;
        }
        display: flex;
        flex-direction: column;
        gap: 16px;
        & div:last-child {
            flex-grow: 2;
        }
    }

    &__label {
        @include labelbutton;
        color: $silver;
        margin: 0 0 4px 0;
    }

    &__title {
        @include tablet {
            padding: 8px 16px;
        }
        @include bodycopy;
        font-family: "Avenir";
        border: 1px solid $mercury;
        border-radius: 4px;
        min-width: 240px;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        &:focus {
            outline: none;
            border: 0.125rem solid $brainflix-blue;
        }
    }

    &__description-container {
        @include desktop {
            display: flex;
            flex-direction: column;
        }
    }

    &__description {
        @include bodycopy;
        @include tablet {
            padding: 8px 16px;
            height: 40px;
            vertical-align: middle;
        }
        @include desktop {
            flex-grow: 2;
        }
        display: block;
        font-family: "Avenir";
        min-width: 240px;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid $mercury;
        resize: none;
        min-height: 36px;
        height: 72px;
        overflow: hidden;
        &:focus {
            outline: none;
            border: 0.125rem solid $brainflix-blue;
        }
    }
}
