@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mediaqueries" as *;

.uploadvideo {
    @include page-sidemargins;
    display: flex;
    flex-direction: column;

    &__header {
        @include tablet {
            margin: 2.25rem 0 1.5rem 0;
            padding-bottom: 1.5rem;
            border-bottom: 0.125rem $mercury solid;
        }
        @include pageheader;
        margin: 1.5rem 0 1rem 0;
        display: flex;
        flex-direction: column;
    }

    &__header-text {
        @include pageheader;
        color: $brainflix-black;
        margin: 0;
    }
}
