@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/mediaqueries" as *;

.searchbar {
    @include tablet {
        width: auto;
        height: 2.5rem;
    }
    @include bodycopy;
    box-sizing: border-box;
    border: 0.0625rem solid $mercury;
    border-radius: 0.25rem;
    min-width: 7.5rem;
    height: 2.25rem;
    padding-left: 2.5rem;
    background: url("../../assets/images/search.svg") no-repeat left;
    background-size: 1.25rem;
    background-position-x: 0.625rem;
    width: 100%;

    &:focus {
        outline: none;
        border: 0.125rem solid $brainflix-blue;
    }

    &:invalid {
        border: 0.0625rem solid #d22d2d;
    }
}
