@use "../../styles/partials/typekit.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.views {
    display: flex;
    align-items: stretch;

    &__icon {
        margin-right: 0.5rem;
    }

    &__count {
        @include bodycopy;
        font-size: 0.8125rem;
        font-weight: 400;
        color: $silver;
    }
}
