@use "../../styles/partials/typekit.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mediaqueries.scss" as *;

.nextvideocard {
    display: flex;
    gap: 1rem;
    max-width: 18.75rem;
    // simulating a link pointer
    :hover {
        cursor: pointer;
    }

    &__thumbnail {
        border-radius: 0.25rem;
        max-width: 6.875rem;
        max-height: 4.125rem;
        aspect-ratio: 16/9;
        background-color: $mercury;
        object-fit: cover;
        object-position: 0% 30%;
    }

    &__right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__video-title {
        @include subheader;
        margin: 0;
        color: $brainflix-black;
    }

    &__video-author {
        @include bodycopy;
        color: $brainflix-black;
    }
}
