@use "../../styles/partials/mediaqueries" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;

.videodetails {
    @include page-sidemargins;
    @include tablet {
        margin: 2.25rem auto 1.5rem auto;
    }
    @include desktop {
        width: auto;
    }
    margin: 1.5rem auto 1rem auto;

    &__header {
        @include tablet {
            margin: 2.25rem 0 0.5rem 0;
            border-bottom: 0rem;
            padding-bottom: 0rem;
        }
        @include pageheader;
        margin: 1.5rem 0 1rem 0;
        color: $brainflix-black;
        padding-bottom: 1rem;
        border-bottom: 0.125rem $mercury solid;
    }

    &__subheader {
        @include desktop {
            padding-right: 1.5rem;
        }
        @include tablet {
            margin: 0.5rem auto;
        }
        display: flex;
        margin: 1rem auto 0 auto;
        padding-bottom: 1rem;
        border-bottom: 0.125rem $mercury solid;

        &-left {
            @include tablet {
                flex-direction: row;
                gap: 1.5rem;
            }
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 50%;
        }

        &-right {
            //copy left container and align right
            @extend .videodetails__subheader-left;
            @include tablet {
                justify-content: flex-end;
            }
        }
    }

    &__description {
        @include bodycopy;
        @include tablet {
            margin: 1.5rem auto;
        }
        margin: 1rem auto;
        color: $brainflix-black;
    }
}
