@use "../../styles/partials/mediaqueries" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;

.comments {
    @include page-sidemargins;
    @include tablet {
        margin: 24px auto;
    }
    @include desktop {
        width: auto;
    }
    margin: 16px auto;

    &__count {
        @include subheader;
        margin: 0 0 16px 0;
        color: $brainflix-black;
    }

    &__subheader {
        @include tablet {
            gap: 24px;
        }
        display: flex;
        gap: 16px;
        margin-bottom: 4px;
    }

    &__container {
        @extend .comments__subheader;
        @include tablet {
            margin-bottom: 24px;
        }
        margin-bottom: 16px;
    }

    &__join {
        @include labelbutton;
        color: $silver;
        margin: 0;
    }

    &__alignment {
        @include tablet {
            width: 100%;
            max-width: 40px;
        }
        max-width: 36px;
        width: 100%;
    }
}
