@use "../../styles/partials/mediaqueries" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;

.commentsinput {
    @include tablet {
        flex-direction: row;
    }
    width: 100%;
    display: flex;
    flex-direction: column;

    &__text-area {
        @include bodycopy;
        @include tablet {
            padding: 0.5rem 1rem;
            height: 2.5rem;
            margin-bottom: 0rem;
            vertical-align: middle;
            margin-right: 1rem;
        }
        font-family: "Avenir";
        min-width: 15rem;
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        border-radius: 0.25rem;
        border: 0.0625rem solid $mercury;
        resize: none;
        min-height: 2.25rem;
        height: 6.25rem;
        overflow: hidden;

        &:focus {
            outline: none;
            border: 0.125rem solid $brainflix-blue;
        }

        &:invalid {
            border: 0.0625rem solid #d22d2d;
        }
    }
}
