@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mediaqueries" as *;

.uploadform {
    @include tablet {
        gap: 1.5rem;
    }
    gap: 1rem;
    display: flex;
    flex-direction: column;

    &__container {
        @include tablet {
            gap: 1.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 0.125rem $mercury solid;
        }
        @include desktop {
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__upload-container {
        @include tablet {
            flex-direction: row-reverse;
            gap: 1.5rem;
            margin-bottom: 1.5rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__cancel {
        @include tablet {
            width: auto;
        }
        text-decoration: none;
        height: 2.5rem;
        border: 0rem;
        min-width: 9.375rem;
        width: 100%;
        position: relative;
    }

    &__cancel-text {
        @include labelbutton;
        font-family: "Avenir";
        color: $brainflix-blue;
        text-decoration: none;
        margin: 0rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
}
