@use "./mediaqueries" as *;
@use "./fonts" as *;

body {
    font-family: "Avenir";
    margin: 0;
}

@mixin page-sidemargins {
    @include tablet {
        padding: 0 36px;
    }
    @include desktop {
        padding: 0;
        width: 1020px;
        margin: auto;
    }
    padding: 0 16px;
}
