// Color Palate

$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Media Sizing

$tabletsize: 768px;
$desktopsize: 1280px;

// Component Spacing

@mixin subheaderspacing {
    padding: 0 16px 16px 0;
}
