@use "../../styles/partials/typekit.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mediaqueries.scss" as *;
@use "../../styles/partials/global.scss" as *;

.nextvideo {
    @include page-sidemargins;
    @include tablet {
        gap: 24px;
        margin: 24px auto;
    }
    @include desktop {
        max-width: 300px;
        min-width: 300px;
    }
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px auto;

    &__header {
        @include labelbutton;
        color: $silver;
        margin: 0;
    }
}
