@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/mediaqueries" as *;

.button {
    @include labelbutton;
    @include tablet {
        width: auto;
    }
    background-color: $brainflix-blue;
    height: 2.5rem;
    border: 0rem;
    min-width: 9.375rem;
    width: 100%;
    border-radius: 0.25rem;
    color: $white;
    position: relative;

    &:hover {
        background-color: $brainflix-darkblue;
    }

    &__icon {
        position: absolute;
        left: 0.625rem;
        top: 50%;
        transform: translate(0, -50%);
    }
}
