@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mediaqueries" as *;

.header {
    border-bottom: 0.125rem $mercury solid;

    &__container {
        @include page-sidemargins;
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1.5rem auto;
        }
        margin: 1rem auto;
    }

    &__logo {
        @include tablet {
            justify-content: flex-start;
            margin: 0;
        }
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__home-link {
        width: auto;
    }

    &__form {
        @include tablet {
            padding: 0;
            align-items: center;
            gap: 1.5rem;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__searchbar-container {
        @include tablet {
            width: auto;
            margin: 0;
        }
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
    }

    &__icon-mobile {
        @include tablet {
            display: none;
        }
    }

    &__icon-tablet {
        display: none;
        @include tablet {
            display: contents;
        }
    }

    &__upload-link {
        @include tablet {
            width: auto;
        }
        width: 100%;
    }
}
