@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mediaqueries" as *;

.header {
    @include page-sidemargins;
    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px auto;
    }
    margin: 16px auto;

    &__logo {
        @include tablet {
            justify-content: flex-start;
            margin: 0;
        }
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }

    &__form {
        @include tablet {
            padding: 0;
            align-items: center;
            gap: 24px;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__searchbar-container {
        @include tablet {
            width: auto;
            margin: 0;
        }
        display: flex;
        margin-bottom: 16px;
        justify-content: space-between;
        gap: 16px;
        width: 100%;
    }

    &__icon-mobile {
        @include tablet {
            display: none;
        }
    }

    &__icon-tablet {
        display: none;
        @include tablet {
            display: contents;
        }
    }
}
