@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mediaqueries" as *;

.uploadvideo {
    @include page-sidemargins;
    display: flex;
    flex-direction: column;

    &__header {
        @include tablet {
            margin: 36px 0 24px 0;
        }
        @include pageheader;
        margin: 24px 0 16px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__header-text {
        @include pageheader;
        color: $brainflix-black;
        margin: 0;
    }
    &__form {
        @include tablet {
            gap: 24px;
        }
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    &__form-container {
        @include tablet {
            gap: 24px;
        }
        @include desktop {
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__input-container {
        @include tablet {
            gap: 24px;
        }
        @include desktop {
            width: 100%;
        }
        display: flex;
        flex-direction: column;
        gap: 16px;
        & div:last-child {
            flex-grow: 2;
        }
    }

    &__label {
        @include labelbutton;
        color: $silver;
        margin: 0 0 4px 0;
    }

    &__title-input {
        @include tablet {
            padding: 8px 16px;
        }
        @include bodycopy;
        font-family: "Avenir";
        border: 1px solid $mercury;
        border-radius: 4px;
        min-width: 240px;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
    }

    &__description-container {
        @include desktop {
            display: flex;
            flex-direction: column;
        }
    }

    &__description-input {
        @include bodycopy;
        @include tablet {
            padding: 8px 16px;
            height: 40px;
            vertical-align: middle;
        }
        @include desktop {
            flex-grow: 2;
        }
        display: block;
        font-family: "Avenir";
        min-width: 240px;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid $mercury;
        resize: none;
        min-height: 36px;
        height: 72px;
        overflow: hidden;
    }

    &__line-container {
        @include tablet {
            display: inline;
        }
        display: none;
    }

    &__upload-container {
        @include tablet {
            flex-direction: row-reverse;
            gap: 24px;
            margin-bottom: 24px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }

    &__cancel {
        @include tablet {
            width: auto;
        }
        text-decoration: none;
        height: 40px;
        border: 0px;
        min-width: 150px;
        width: 100%;
        position: relative;
    }

    &__cancel-text {
        @include labelbutton;
        font-family: "Avenir";
        color: $brainflix-blue;
        text-decoration: none;
        margin: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
}
