@use "../../styles/partials/mediaqueries" as *;

.usericon {
    //normal icon
    @include tablet {
        max-width: 2.5rem;
        width: 100%;
        height: 2.5rem;
        object-fit: cover;
    }
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
}
