@use "../../styles/partials/mediaqueries" as *;

.usericon {
    //comments
    @include tablet {
        max-width: 40px;
        border-radius: 50%;
        width: 100%;
        height: 40px;
        object-fit: cover;
    }
    border-radius: 50%;
    max-width: 36px;
    width: 100%;
    height: 36px;
    object-fit: cover;

    &__header {
        //header within searchbar
        @include tablet {
            display: none;
        }
        border-radius: 50%;
        max-width: 36px;
        width: 100%;
        height: 36px;
        object-fit: cover;

        &-tablet {
            //header outside search bar
            @include tablet {
                max-width: 40px;
                border-radius: 50%;
                width: 100%;
                height: 40px;
                object-fit: cover;
                display: inline;
            }
            display: none;
        }
    }
}
