@use "../../styles/partials/mediaqueries" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;

.mainvideodetails {
    @include page-sidemargins;
    @include tablet {
        padding-top: 36px;
    }
    padding-top: 24px;

    &__header {
        padding: 0 0 16px 0;
        margin: 0;
        color: $brainflix-black;
    }

    &__subheader {
        display: flex;
        padding-top: 16px;
        &-left {
            @include tablet {
                display: flex;
            }
            width: 50%;
        }
        &-right {
            @include tablet {
                display: flex;
                justify-content: flex-end;
            }
            width: 50%;
        }
    }

    &__main {
        @include bodycopy;
        padding: 24px 0 16px 0;
        color: $brainflix-black;
    }
}
