@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typekit" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mediaqueries" as *;

.videopreview {
    &__label {
        @include labelbutton;
        color: $silver;
        margin: 0;
    }
    &__image {
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 411px;
        }
        display: block;
        width: 100%;
        border-radius: 4px;
    }
}
